body {
    /*font-family: 'Bangers', cursive;*/
    font-family: Serif;
    /*background: green;*/
    margin-left: 600px;
}

div#l {
    font-size: 100px;
    float: left;
    margin-right: 10px;

}

div#c1 {
    width:70px;
    height: 70px;
    border-radius: 70px;
    background: black;
    float: left;
    margin-left: 0px;
    margin-top: 150px;
}

div#c2 {
    width:70px;
    height: 70px;
    border-radius: 70px;
    background: black;
    float: left;
    margin-left: 60px;
    margin-top: 150px;
}

div#c3 {
    width: 140px;
    height: 140px;
    border-radius: 140px;
    background: black;
    float: left;
    margin-left: 172px;
    margin-top: -310px;
    clear: both;
}

div#v {
    font-size: 100px;
    margin-bottom: 200px;
    float: left;
    margin-top: -300px;
    margin-left: -20px;
}

div#e {
    font-size: 100px;
    margin-bottom: 200px;
    float: left;
    margin-top: -300px;
    margin-left: 30px;
}

